#title{
    background-color: #ff4c68;
    color:#fff;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    line-height:1.5;
    font-size:2.7rem;
}

h2{
    font-size:3rem;
    line-height: 1.5;
}


h3{
    font-size:1.5rem;
    margin:auto;
    font-weight: bold;
   
}

p{
    color:#8f8f8f;
    margin-top:1rem;
}

.container-fluid{
    padding:3% 15% 7%;
}

/* Navbar */

.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-size:2.0rem;
    font-weight:bold;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size:1.2rem;
}

/* Download Buttons */

.download-button{
margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image{
    transform:rotate(25deg);
    width:60%;
    position:absolute;
    right:28%;
}

/* FEATURES SECTION */

#features{
    padding:7% 15%;
    position:relative;
    z-index:1;
    background-color: #fff;
}


.feature-box{
    padding:5%;
    text-align: center;
}

.icon{
    color:#ef8172;
    margin-bottom:1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* TESTIMONIALS SECTION */

#testimonials{
    
    color:#fff;
    background-color: #ef8172;
    text-align: center;
}

.testimonial-img{
    border-radius:100%;
    width:10%;
    margin:20px;
}

.carousel-item{
    padding:7% 15%;
}

/* PRESS SECTION */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img{
    width:15%;
    margin:20px 20px 50px;
}

/* PRICING SECTION */

#pricing{
    padding:100px;
    text-align:center;
}

.pricing-column{
    padding: 3% 2%;
}


/* CALL TO ACTION SECTION */

#cta{
    background-color:#ff4c68;
    text-align: center;
    padding: 7% 15%;
    color:#fff;
}

.cta-text{
    font-size:3rem;
    line-height: 1.5;
    margin-bottom:30px;
}

.cta-buttons{
    margin: 10px 20px 5px;
}

/* FOOTER */

#footer{
    text-align:center;
    background-color: #fff;
    padding: 7% 15%;
}

.footer-icon{
    margin: 0 10px;
}




/* RESPONSIVENESS */

@media (max-width:995px){
    .title-image{
        position:static;
        transform:rotate(0);
    }

    #title{
        text-align:center;
    }
}